{% extends 'cal/base.html' %}
{% load bootstrap4 %}
{% block title %}Calendar{% endblock %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'calendar:calendar' prev_month %}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'calendar:calendar' next_month %}"> Next Month </a>
</div>

<table border="0" cellpadding="0" cellspacing="0" class="calendar">
	<tr><th colspan="7" class="month">{{ month_name }}</th></tr>
	<tr>
		<th class="mon">Mon</th>
		<th class="tue">Tue</th>
		<th class="wed">Wed</th>
		<th class="thu">Thu</th>
		<th class="fri">Fri</th>
		<th class="sat">Sat</th>
		<th class="sun">Sun</th>
	</tr>
	{{ calendar }}
</table>

<!-- The Modal for inserting date -->
{% include "cal/_modal_1.html" %}

<!-- The Modal for displaying all data -->
{% include "cal/_modal_2.html" %}

{% endblock %}